<nav class="sidebar">
    <div class="user-profile">
        <img src="user-placeholder.jpg" alt="User profile picture" class="user-profile-image">
        <p class="user-name">User Name </p>
    </div>
    <ul class="menu-list">
        <li><a href="/logout" class="menu-item">logout</a></li>
        <li><a href="/createpost" class="menu-item">Create Post</a></li>
        <li><a href="/listpost" class="menu-item">All Post </a></li>
        <li><a href="/Categeory" class="menu-item">Categeory </a></li>
   
    </ul>
</nav>