<header>
    <nav>
        <ul class="nav" aria-label="Main Navigation">
            <li><a href="/"aria-label="Go to Home">Home</a></li>
        </ul>
    </nav>
    <form class="search-bar" role="search" aria-label="Search the site" method="post" action="/search">
        <input type="text" placeholder="Search..." aria-label="Search input" name="query">
        <button type="submit" aria-label="Search button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M10 2a8 8 0 105.293 14.293l5.707 5.707-1.414 1.414-5.707-5.707A8 8 0 1010 2zm0 2a6 6 0 110 12A6 6 0 0110 4z"></path>
            </svg>
        </button>
    </form>
    
</header>